@{
    ViewBag.Title = "About Team 6";
}
<h2>@ViewBag.Title.</h2>
<h3>Our objective is to create an internal user website for Centric Consulting and their employees.</h3>

<p>Team 6 is a four person group consisting of the following members with their respective roles: <br />
    Jake Butler - Developer<br />
    Alexis Risner - Tester<br />
    Clay Shannon - Developer<br />
    Avery Wallace - Business Analyst</p>
