@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
<h2>Enter Your Email Address Below</h2>
<h3><input type="text" placeholder="Your Email"></h3>
<br />
<br />
<h2>Ask us a question</h2>
<h3><input type="text" placeholder="Your Question"></h3>
<br />
<br />
<button type="button" class="btn btn-primary">Submit</button>
<br />
<br />
<address>
    1215 Lyons Rd<br />
    Dayton, OH 45458<br />
    <abbr title="Phone">P:</abbr>
    (888) 781-7567
</address>

