@{

    ViewBag.Title = "Home Page";

}



<div class="jumbotron">

    <img src="https://secincy.org/wp-content/uploads/2015/03/centric.png" alt="Image result for centric consulting logo" /> 

    <h1>MIS 4200 Team 6 Project</h1>

    <p class="lead">Follow the link below to visit Centric Consulting's webpage for more information</p>

    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Visit Centric &raquo;</a></p>

</div>



<p>

    <h2>Always being willing to help.</h2>

    Not only do we do what it takes to help our colleagues and clients, but we are always on the lookout for ways to make a positive impact.
    <img src="https://centricconsulting.com/wp-content/uploads/2018/07/how-we-work-column.jpg" class="img-responsive" alt="Image result for centric consulting" />

</p>

<br />

<p>

    <h2>Treating clients like friends – because that’s what you become.</h2>

    Our clients are treated with the same adoration and respect we give our friends, which often leads to deeper and more positive relationships.
    <img src="https://www.strategydriven.com/wp-content/themes/strategydriven/img/Execution.jpg" class="img-responsive" alt="Image result for centric consulting" />
</p>

<br />

<p>

    <h2>Doing what it takes – together.</h2>

    Your success is our success so we work hard to ensure you have what you need, and work to figure it out together.

</p>

<br />

<p>

    <h2>Putting you first.</h2>

    We strive to put others before ourselves in an authentic way without any expectation of a payoff.

</p>


<div class="row">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
    <div class="col-md-4">
        <div class="fb-page" data-href="https://www.facebook.com/CentricConsultingNational/" data-tabs="timeline" data-width="425" data-height="600" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/CentricConsultingNational/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CentricConsultingNational/">Centric Consulting</a></blockquote></div>
    </div>
    <div class="col-md-4">
        <a class="twitter-timeline" data-width="425" data-height="600" href="https://twitter.com/centric?ref_src=twsrc%5Etfw">Tweets by centric</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>
